.menuMain {
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.item {
    background-color:lightgray;
    padding:10px;
}

.station {
    margin-top:10px;
}

.menuMain p {
    padding:10px;
}

.menuMain h1 {
    padding:10px;
}

